<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pagination in Django</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.2.0/mdb.min.css" rel="stylesheet"/> 
</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        {% load static %}
        <img src="{% static 'img/Frame1.png' %}" width="150"  alt="Пока не работает">
      </a>
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Необходимая информация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#analys">Анализ рисков</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <style>
    .triangles {
      list-style-type: "⊲ ";
    }
  </style>

  <div class="bg-image position-relative">
    <img src="{% static 'img\cover.jpg' %}" width="100%">
    <div class="mask position-absolute top-0 end-0 bottom-0 start-0 " style="background-color: rgba(0, 0, 0, 0.55)">
      <div class="container d-flex h-100">
        <div class="row">
          <div class="d-flex col-lg-6 justify-content-center">
            <img src="{% static 'img/лого.svg' %}" alt="Пока не работает">
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 d-flex align-items-center">
            <ul class='triangles'>
              <li  class="h2 text-white">Анализ рисков при покупке индивидуального жилого дома</li>
              <br>
              <li  class="h2 text-white">Подборка сервисов для проверки всех нюансов сделки</li>
              <br>
              <li  class="h2 text-white">Индивидуальная оценка рисков при заключении договора</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>
  <h1>qqqqqqqqq</h1>

  <div class="container">
    <h1 class="text-center" id="test1">List of Employees</h1>
    <hr>
    <div class="qcontainer " id="qcont">
      {% for employee in page_obj %}
      <div id="d-q-ans-container_{{forloop.counter}}" class="">
        <span class="qtext_{{forloop.counter}}"><strong>{{ employee.content }}</strong></span>
        <div>

          <div class="rb-chk-container otp-row_{{forloop.counter}}" maxcnt="0">
            <div class="item otp-row-1_{{forloop.counter}}">
              <label class="otp-input s-view-input otp-radiobutton_{{forloop.counter}}">
                <input type="radio" id="t_ans_35636_{{forloop.counter}}" name="t_ansgr_12115_{{forloop.counter}}" value=1>
                <i class="indicator icon-rb_{{forloop.counter}}"></i>

                <span>Да</span>

              </label>
            </div>
            <div class="item otp-row-1_{{forloop.counter}}">
              <label class="otp-input s-view-input otp-radiobutton_{{forloop.counter}}">
                <input type="radio" id="t_ans_35637_{{forloop.counter}}" name="t_ansgr_12115_{{forloop.counter}}" value=-1>
                <i class="indicator icon-rb_{{forloop.counter}}"></i>

                <span>Нет</span>

              </label>
            </div>
            <div class="item otp-row-1_{{forloop.counter}}">
              <label class="otp-input s-view-input otp-radiobutton_{{forloop.counter}}">
                <input type="radio" id="t_ans_35638_{{forloop.counter}}" name="t_ansgr_12115_{{forloop.counter}}" value=0>
                <i class="indicator icon-rb_{{forloop.counter}}"></i>

                <span>Затрудняюсь ответить</span>

              </label>
            </div>
          </div>

        <script>
            function save_data_to_localstorage(input_id, id) {
               const input_val = document.getElementById(input_id).getAttribute("data-last-value");
               const index = {{ page_obj.start_index }} + id - 1;
               sessionStorage.setItem(index, input_val);
                console.log(sessionStorage);
            }

            if({{ employee.state }} == 0){
                console.log(sessionStorage[{{ employee.parent_id }}]);
                if(sessionStorage[{{ employee.parent_id }}] == -2 || sessionStorage[{{ employee.parent_id }}] === undefined){
                    document.getElementById('d-q-ans-container_{{forloop.counter}}').setAttribute("style", "display:none");
                }
            }

            if ({{ employee.id }} in sessionStorage){
<!--                console.log({{employee.id }})-->
<!--                console.log(sessionStorage[{{ employee.id }}])-->
<!--                console.log(sessionStorage);-->
<!--                console.log(" ")-->
                if (sessionStorage[{{ employee.id }}] == -1){
                    document.getElementById("t_ans_35637_{{forloop.counter}}").click();
                }
                if (sessionStorage[{{ employee.id }}] == 0){
                    document.getElementById("t_ans_35638_{{forloop.counter}}").click();
                }
                if (sessionStorage[{{ employee.id }}] == 1){
                    document.getElementById("t_ans_35636_{{forloop.counter}}").click();
                }
            }

            var div = document.getElementById('d-q-ans-container_{{forloop.counter}}');
            div.setAttribute("sub_id", {{employee.sub_id}});
            var p1 = document.getElementById('t_ans_35636_{{forloop.counter}}');
            var p2 = document.getElementById('t_ans_35637_{{forloop.counter}}');
            var p3 = document.getElementById('t_ans_35638_{{forloop.counter}}');



            p1.onclick = function(e) {
                document.getElementById('d-q-ans-container_{{forloop.counter}}').setAttribute('data-last-value', p1.value);
                save_data_to_localstorage('d-q-ans-container_{{forloop.counter}}', {{forloop.counter}});
                if(document.getElementById('d-q-ans-container_{{forloop.counter}}').getAttribute("sub_id") != 0){
                    let idd = document.getElementById('d-q-ans-container_{{forloop.counter}}').getAttribute("sub_id");
                    if(document.getElementById('d-q-ans-container_' + idd) != null){
                        document.getElementById('d-q-ans-container_' + idd).removeAttribute("style");
                    }
                }
              };

            p2.onclick = function(e) {
                document.getElementById('d-q-ans-container_{{forloop.counter}}').setAttribute('data-last-value', p2.value);
                save_data_to_localstorage('d-q-ans-container_{{forloop.counter}}', {{forloop.counter}});
                if(document.getElementById('d-q-ans-container_{{forloop.counter}}').getAttribute("sub_id") != 0){
                    let idd = document.getElementById('d-q-ans-container_{{forloop.counter}}').getAttribute("sub_id");
                    console.log('d-q-ans-container_' + idd);
                    if(document.getElementById('d-q-ans-container_' + idd) != null){
                        document.getElementById('d-q-ans-container_' + idd).removeAttribute("style");
                    }
                }
              };

            p3.onclick = function(e) {
              document.getElementById('d-q-ans-container_{{forloop.counter}}').setAttribute('data-last-value', p3.value);
              save_data_to_localstorage('d-q-ans-container_{{forloop.counter}}', {{forloop.counter}});
              if(document.getElementById('d-q-ans-container_{{forloop.counter}}').getAttribute("sub_id") != 0){
                    let idd = document.getElementById('d-q-ans-container_{{forloop.counter}}').getAttribute("sub_id");
                    if(document.getElementById('d-q-ans-container_' + idd) != null){
                        document.getElementById('d-q-ans-container_' + idd).removeAttribute("style");
                    }
                }
            };
        </script>

        <br>
        <hr>

      </div>
    </div>
    {% endfor %} {% include "pagination.html" %}
  </div>
</div>
</body>

</html>